body{
    display: flex;
    justify-content: center;
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    background:linear-gradient(90deg, rgb(210, 255, 163), rgb(81, 206, 238, 0.5));
}
.panel{
    text-align: center;
    margin-top: 1.5rem;
}
#title{
    margin-bottom: 1rem;
    font-weight: 600;
}
#description{
    font-weight: 500;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.cell:hover{
    stroke: black;
    stroke-width: 2px;
}
.red{
    fill:#d11a1a;
}
.orange-red{
    fill: #e15f2f;
}
.orange{
    fill: #eea40f;
}
.yellow-orange{
    fill: #ffd500;
}
.yellow{
    fill: #f8f856;
}
.blue-yellow{
    fill: #80c9d3;
}
.blue{
    fill: #31bafe;
}
.light-navy-blue{
    fill: #2f5ae9;
}
.navy-blue{
    fill: #203ed4;
}
.colour{
    stroke: black;
}

#tooltip{
    position: absolute;
    background-color: rgba(37, 21, 21, 0.827);
    color: white;
    font-size: 1.05rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.2rem;
    pointer-events: none;
}
#temperature{
    margin: 0.2rem 0;
}
.visible{
    opacity: 1;
}
.invisible{
    opacity: 0;
}
