body{
    display: flex;
    justify-content: center;
}
.panel{
    text-align: center;
}
*{
    margin: 0;
}
.cell:hover{
    stroke: black;
    stroke-width: 2px;
}
.red{
    fill:#ff0000;
}
.orange-red{
    fill: #ff4500;
}
.orange{
    fill: #ffa500;
}
.yellow-orange{
    fill: #ffd500;
}
.yellow{
    fill: #f8f856;
}
.blue-yellow{
    fill: #80c9d3;
}
.blue{
    fill: #31bafe;
}
.light-navy-blue{
    fill: #2f2fe9;
}
.navy-blue{
    fill: #000080;
}
.colour{
    stroke: black;
}

#tooltip{
    position: absolute;
    background-color: rgba(37, 21, 21, 0.527);
}
.visible{
    opacity: 1;
}
.invisible{
    opacity: 0;
}
